* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.box {
  --slides: 3;
  --gap: 10px;
  --gaps: calc((var(--slides) - 1) * var(--gap));
  width: calc((100% - (var(--gaps))) / var(--slides));
  margin-right: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  color: black;
  font-size: 21px;
  cursor: pointer;
  height: 480px;
  /* width: 500px; */
  /* border: 2px solid saddlebrown; */
}

.button {
  /* display: inline-block; */
  /* position: relative; */
}


.button > a {
  background-color: #0068dc;
  border-radius: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40px;
  max-width: 40px;
  position: absolute;
  right: 0;
  width: auto;
  text-decoration: none;
  /* overflow: hidden; */
  /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 2s;
  transition: max-width 2s;
}

.button > a:hover {
  max-width: 300px;
}

.icon {
  /* margin-top: -5px; */
  margin-right: 0;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.text {
  white-space: nowrap;
  margin-left: 10px;
  padding-right: 5px;
}
